body {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lora', serif;
    background-attachment: fixed;
}
@keyframes opacityBgFrame {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}
.opacityBG {
    animation: opacityBgFrame .4s ease-out;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    z-index: 0;


}
body, html {
    height: 100%;
}
.time {
    display: inline-block;
    width: 56px;
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(232, 224, 215, 0.85);
}

.momentum {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, 48vw);
    grid-template-rows: 50vh 46vh;
    gap: 2vh 2vw;
    z-index: 1;
}
.momentum > div:nth-child(even) {
    border-radius: 100px 0 100px 0;
    padding: 12px;
}
.momentum > div:nth-child(odd) {
    border-radius: 0 100px 0 100px;
    padding: 12px;
}
.momentum__date {
    background-color: rgba(168, 16, 76, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.momentum__date-time {
    font-size: 5.5rem;
    margin: 1.5rem 0;
    width: 100%;
    text-align: center;
}
.momentum__date-date{
    font-size: 1.875rem;
    margin-bottom: 0.9rem;
    color: white;
}
.momentum__date-greetings {
    font-size: 1.25rem;
}
.momentum__weather-error {
    font-size: 2.2rem;
    color: red;
    text-shadow: 0 0 5px white;
    margin-top: 50px;
    text-align: center;
}
.momentum__weather {
    background-color: rgba(128, 0, 255, .6);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.momentum__weather-city {
    font-size: 3.85rem;
    margin: 1.6rem 0 25px 0;
}
.momentum__weather-city span {
    display: inline-block;
    font-weight: 500;
    min-width: 100%;
}
.momentum__weather-block {
    display: flex;
    gap: 20px;
    width: 100%;
}

.momentum__weather-pict {
    align-self: center;
    flex-grow: 0;
    width: 150px;
    min-width: 150px;
    height: 150px;
    background-image: url("../img/sprite/weather_sprite.gif");
    background-position: -70px 246px;
    background-size: 865%;
    border-radius: 30px;
}
.momentum__weather-temp {
    text-align: center;
    line-height: 30px;
    font-size: 3rem;
    color: white;
    font-style: italic;
    font-weight: 300;
}
.momentum__weather-info {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 20px;
}
.momentum__weather-info span {
    color: white;
    font-style: italic;
    font-weight: 300;
}
.momentum__todo {
    background-color: rgba(71, 167, 106, 0.6);
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.momentum__todo-pending, .momentum__todo-completed {
    position: relative;
    display: flex;
    height: 40%;
 }
.momentum__todo-pending span, .momentum__todo-completed span {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 50%;
    transform: rotate(90deg);
}
.momentum__todo-pending span {
    right: 0;
}
.ticket {
    width: 100%;
    flex-shrink: 0;
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    transition: opacity .2s;
}
.ticket:hover {
    opacity: .8;
}
.text {
    flex-grow: 1;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
}
.task {
    display: flex;
    margin: 8px;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
    border-bottom: 2px solid black;
    gap: 4px;
}
.tool-button img {
    width: 30px;
    height: 30px;
    transition: transform .2s;
}
.task-buttons__wrapper {
    display: flex;
    gap: 4px;
}
.save-btn {
    display: none;
}
.edit {
    outline: none;
    border: none;
    display: none;
    border-radius: 5px;
    opacity: .8;
    width: 100%;
    line-height: 3px;
    padding: 4px 8px;
    box-sizing: border-box;
}
.tool-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.tool-button img:hover {
    transform: scale(.9);
}
/* Scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
.momentum__todo-completed span {
    top: 50%;
    right: -10px;
}
.momentum__pending-wrapper,.momentum__completed-wrapper {
    width: 80%;
    overflow: scroll;
    text-overflow: ellipsis;
    height: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid black;
}
.momentum__todo-field {
    width: 100%;
    display: flex;
    gap: 10px;
    padding-top: 8px;
}
.momentum__todo-add {
    width: 70%;
    height: 34px;
    padding: 5px 12px;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}
.momentum__todo-btn {
    flex-grow: 1;
    margin-right: 45px;
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 34px;
    justify-content: center;
    letter-spacing: .4px;
    max-width: 100%;
    padding: 0 20px;
    text-transform: uppercase;
}
.momentum__todo-btn:active, .momentum__todo-btn:hover {
    outline: 0;
}

.momentum__todo-btn span {
    transition: transform .2s, opacity .2s;
}

.momentum__todo-btn:hover span {
    transform: scale(.9);
    opacity: .75;
}

.momentum__currencies {
    background-color: rgba(0, 71, 171, .6);
    color: white;
}

.momentum__currencies-selections {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;

}
.momentum__currencies-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6px;
    font-size: 20px;
    text-align: center;
    margin: 16px 0 30px 0;
    font-weight: 900;
    font-style: italic;
}
.momentum__currencies-output {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.momentum__output-first {
    font-size: 22px;
    font-weight: 500;
}
.momentum__output-second {
    font-size: 60px;
}
.currTo {
    font-size: 20px;
    font-weight: 500;
}
.momentum__info-update{
    grid-column: 1/3;


}
.momentum__currencies label {
    display: block;
}
.amount {
    padding: 8px;
    max-width: 130px;
    height: 42px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}
.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.momentum__selections-from, .momentum__selections-to{
    width: 100%;
    max-width: 130px;
    position: relative;
}

.select *, .select:after, .select:before {
    box-sizing: border-box;
}


.select {
    display: block;
    color: black;
    min-width: 130px;

}
.select *, .select :after, .select :before {
    box-sizing: border-box;
}
.select ul li:focus, .select ul li:hover, .select ul li.active {
    font-weight: 900;
}
.select button {
    background: #fff;
    height: 42px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0;
    color: rgba(0, 0, 0, 0.73);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0 1px 10px;
    position: relative;
    width: 100%;
    z-index: 1;
    outline: none;
    overflow: hidden;
}
.select button:focus, .select button:hover {
    background: rgba(255, 255, 255, .9);
}
.select button:after {
    content: '▾';
    float: right;
    padding-right: 16px;
}
.select ul {
    background-color: white;
    cursor: default;
    list-style: none;
    line-height: 26px;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    position: absolute;
    padding: 0;
    transform: translateY(-50%);
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.select ul li {
    height: 48px;
    margin: 0;
    padding: 10px 10px;
    outline: none;
    overflow: hidden;
}

.select.active ul {
    max-height: 200px;
    overflow: auto;
    z-index: 2;
    transition: all 0.2s ease;
}

.momentum__greetings-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 0.8rem;
}
.momentum__date-span {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    min-width: 12px;
    padding: 5px;
}
.momentum__date-focus + .momentum__date-span {
    margin: 10px 0 0 0;
    width: 100%;
    text-align: center;
}
.momentum__date-focus {
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
}

.momentum__date-focus input {
    text-align: center;
}
.settings__wrapper {
    position: absolute;
    outline: none;
    background-color: rgba(71, 167, 106, 1);
    border-radius: 20px;
    box-shadow: 0 0 5px 4px white;
    width: 480px;
    height: 240px;
    right: 0;
    top: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    left: 0;
    text-align: center;
    z-index: 1;
}
.settings__overlay {
    position: absolute;
    visibility: hidden;
    background-color: rgba(0,0,0,.4);
    border-radius: 0 100px 0 100px;
    outline: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.settings__text {
    color: white;
    font-size: 1.6rem;
}
.settings-active {
    animation: settingsIn .5s ease-out;
}
.settings-disable {
    animation: settingsOut .5s ease-out;
}
.settings__btn {
    max-width: 30%;
    text-transform: none;
    flex-grow: 0;
    height: 40px;
    margin: 0 auto;
}
.settings__close {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    display: block;
    margin: 8px 12px 0 0;
    cursor: pointer;
}
.settings__img {
    width: 34px;
    height: 34px;
    cursor: pointer;
    display: block;
    transition: transform .2s;
}
.settings__img:hover {
transform: scale(.9);
}
.refresh {
    width: 40px;
    height: 40px;
    bottom: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    align-self: end;
}

.change {
    margin: 0 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
    align-self: center;
}

@keyframes refreshRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
@keyframes settingsIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes settingsOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.rotateClass {
    animation: refreshRotate .8s ease-out;
}

@media screen and (max-width: 1280px){
    .momentum {
        grid-template-columns: 1fr;
        align-content: flex-start;
    }
    .momentum__date {
        min-height: 350px;
        max-height: 420px;
    }
    .momentum__weather-block {
        justify-content: center;
        gap: 10%;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 13px;
    }
    .momentum__todo-btn {
        font-size: 15px;
        height: 50px;
    }

    .momentum__todo-btn span {
        line-height: 50px;
    }
    .momentum__date {
        min-height: 300px;
    }
    .momentum__weather-block {
        justify-content: center;
        gap: 4%;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 11px;
    }
    .momentum__weather-block {
        flex-direction: column;
    }
    .momentum__weather-info {
        align-items: center;
        margin: 20px 0 10px 0;
    }
    .momentum__date {
        min-height: 340px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 9px;
    }
    .momentum__date {
        min-height: 250px;
    }

    .momentum__date-date {
        font-size: 2.4rem;
    }
    .momentum__greetings-wrapper {
        flex-direction: column;
        gap: 6px;
    }
    .momentum__date-greetings {
        font-size: 2.4rem;
    }
    .momentum__date-time {
        font-size: 4.8rem;
    }
    .momentum__date-focus {
        font-size: 2rem;
    }
    .momentum__weather-info {
        font-size: 1.8rem;
    }
    .time {
        width: 34px;
    }
}
@media screen and (max-width: 375px) {
    html  {
        font-size: 8px;
    }
    .momentum__date {
        min-height: 270px;
    }
    .time {
        width: 28px;
    }
    .momentum {
        width: 92vw;
    }
    .momentum > div {
        padding: 7px;
    }

}
